.nav a{
    text-decoration: none;
    color: white;    
    display: block;
    text-align: right;
    transform: translateX(750px);
    padding: 5px;
}
.nav li{
    color: rgb(255, 166, 0);
    float: left;
    padding: 8px;
    list-style-type: none;
}
.nav{
    margin: 0;
    overflow: hidden;
    padding-bottom: 25px;
    background-color: rgb(35, 88, 119);
}

body{
    background-color: rgb(221, 221, 221);
}
#snippet_name{
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border: 0;
}