<!-- backend inserts comments into this template and frontend will display it -->
<!-- e.g. ...return render_template("active.html", comments=comments) -->

<!-- discussion section -->
<div id="active" class="discussion-window">
  <!-- topic here
  <div class="topic-box">
    <h3>topic go here</h3>
  </div> -->

  <!-- the main post goes up here -->

  <!-- flask jinja -->
      <!-- <div class="main-post-section">
        <p>{{  main_post }}</p>
        <a href="#reply">Reply</a>
      </div> -->

  <!-- <div class="main-post-section" id="0">
    <p>contents of main post go here...</p>
    <div class="flex-reply-footer">
      <div class="flex-reply-item">
      <div><i class="fa fa-user" aria-hidden="true" style="margin: 5px; background-color: rgb(177, 168, 168);"></i>Picture(maybe) and Username</div>
      <div style="margin-left: 10px;">number of likes<i class="fa fa-thumbs-up" aria-hidden="true" style="margin: 5px;"></i></div>
      </div>
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#replyModal" onclick="addReply()">
        Reply
      </button>
    </div>
  </div> -->


  <!-- replies to main post -->

  <!-- flask jinja -->
      <!-- {% for r in replies %}
      <div class="post-section">
        <p>{{ r.reply }}</p>
        <a href="#reply">Reply</a>
        <button type="button" class="btn btn-light view-replies-btn">View Replies</button>
      </div>
      {% endfor %} -->


  <div class="post-section" id="1">
    <div class="flex-reply-header">
      <div><i class="fa fa-user" aria-hidden="true" style="margin: 5px; background-color: rgb(177, 168, 168);"></i>Picture(maybe) and Username</div>
    </div>
    <p>replies goo here</p>
    <div class="flex-reply-footer">
      <button type="button" class="btn btn-link" onclick="addLike()">
        number of likes<i class="fa fa-thumbs-up" aria-hidden="true" style="margin: 5px;"></i>
      </button>         
    </div>
  </div>
  <div class="post-section" id="2">
    <div class="flex-reply-header">
      <div><i class="fa fa-user" aria-hidden="true" style="margin: 5px; background-color: rgb(177, 168, 168);"></i>Picture(maybe) and Username</div>
    </div>
    <p>replies goo here</p>
    <div class="flex-reply-footer">
      <button type="button" class="btn btn-link" onclick="addLike()">
        number of likes<i class="fa fa-thumbs-up" aria-hidden="true" style="margin: 5px;"></i>
      </button>         
    </div>
  </div>
</div>
