<h1>Create Snippets</h1>
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
<body>
    <form>
        <label>Snippet Name</label><br>
        <input type="text" id="snippet_name" value="" required>
        <br><br>
        <label>Language</label><br>
        <input type="text" id="language" value="" required>
        <br><br>
        <label>Code</label><br>
        <textarea type="text" id="code_input" value="" required rows=10 cols=60></textarea>
        <br>
    </form>
    <button id="submit_button">Create</button>
    <br>
    <a href="http://127.0.0.1:5000/home">Back to home</a>
    
    <script src="static/createController.js"></script>
</body>
