<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Create Account</title>
  <link rel="stylesheet" href="./static/logins.css">
</head>

<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active">Create Account</h2>
      <!-- Icon -->
   
      <!-- Login Form -->
      <form action="register" method="POST">
        <input type="text" id="login" class="fadeIn second" name="username" placeholder="Username">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
        <input type="password" id="confirm-password" class="fadeIn third" name="confirm-password" placeholder="Confirm Password">
        <input type="submit" id="submit-button" class="fadeIn fourth" value="Create">
      </form>
  
    </div>
  </div>



</body>
<script>
// document.getElementById("submit-button").addEventListener("click", function() {
//   let data = {};
//   data['username'] = document.getElementById("login").value;
//   data['password'] = docuemnt.getElementById("password").value;
//   data['confirmed_password'] = document.getElementById("confirm-password").value;
//   if (data['password'] == data['confirmed_password'])
//   {
//     console.log(data);
//   }
//   else
//   {
//     console.log("Invalid entry");
//   }
// })
</script>
</html>