<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="api/request_snippet" method="POST">
        <input type="text" id="description" class="fadeIn second" name="description" placeholder="Description">
        <input type="text" id="language" class="fadeIn third" name="language" placeholder="Language">
        <input type="submit" class="fadeIn fourth" value="Submit">
    </form>
</body>
</html>