<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/tomorrow-night.min.css">
    <link rel="stylesheet" href="./static/style.css">
    <title>Search</title>
</head>
    

<body style="background-color: #a8a7a7;">
    <!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ChatBot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="home">Home</a>
            </li>
            <!-- <li class="nav-item active">
              <a class="nav-link" href="active">Active<span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="notyetimplemented">Recommended</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="notyetimplemented">Today</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="notyetimplemented">Trending</a>
            </li>
          </ul>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#startTopicModal">
          Start Topic!
        </button>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#searchSnippetModal" style="margin-left: 5px;">
          Search Snippets
        </button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#requestSnippetModal" style="margin-left: 5px;">
          Request Snippets
        </button>
    </nav>
    <h1>Search Snippets</h1>

    <form>
        <label>Search Term</label><br>
        <input id="search_term" type="text" name="language" value="" required>
        <br><br>
        <label>Target Language</label><br>
        <input id="language_field" type="text" name="snippet_name" value="" required>
        <br>
        <br>
        <input type="checkbox" id="private-check-box" name="private-check-box">
        <label for="private-check-box" class="col-form-label">Search only private snippets</label>
    </form>
    <button onclick="changeLink()" id="submit_button" type="submit" name="Create">Submit</button>
    <br>
    <br>

    <a id="linkToHome" href="{{ url_for('home') }}">Cancel</a>
    <div id="search-results"></div>
    <!-- <button id="test_button">Test Button</button> -->
    <!-- <pre>
        <code class="python">
            with sqlite3.connect('Snippets.db') as conn:
            try:
                cursor = conn.cursor()
                cursor.execute("INSERT INTO Snippets(name, language, code) VALUES (?,?,?)", 
        </code>
    </pre> -->
    <div class="modal fade" tabindex="-1" id="startTopicModal" role="dialog" aria-labelledby="#createTopic" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createTopic">Create A Topic!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- the start new topic form -->
          <div class="modal-body">
            <div role="form" id="topic-form" enctype=multipart/form-data novalidate>
              <div class="form-group">
                <label for="topic-box" class="col-form-label">Topic</label>
                <input type="text" class="form-control" id="topic-box" name="topic-box" placeholder="e.g. Iterative DFS" required>
                <label for="language-box" class="col-form-label">Language</label>
                <input type="text" class="form-control" id="language-box" name="language-box" placeholder="e.g. C++" required>
                <br>
                <input type="checkbox" id="private-check-box" name="private-check-box">
                <label for="private-check-box" class="col-form-label">Make snippet private</label>

              </div>
              <div class="form-group">
                <label for="topic-content-box" class="col-form-label">Contents</label>
                <div id="topic-content-box" style="height: 250px;"></div>
              </div>
              <button id="submit-button" class="btn btn-primary">Post!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- pop up form for searching snippet -->
    <div class="modal fade" tabindex="-1" id="searchSnippetModal" role="dialog" aria-labelledby="#searchSnippet" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="searchSnippet">Search Snippets</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="topic-box" class="col-form-label">Search Term</label>
                <input type="text" class="form-control" id="search-term-box" name="topic-box" placeholder="e.g. loops..." required>
              </div>
              <div class="form-group">
                <label for="topic-box" class="col-form-label">Target Language</label>
                <input type="text" class="form-control" id="language-box" name="snippet-name" placeholder="e.g. Python" required>
              </div>
              <button type="submit" class="btn btn-primary">Search!</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" id="requestSnippetModal" role="dialog" aria-labelledby="#searchSnippet" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="requestSnippet">Request Snippets</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="topic-box" class="col-form-label">Description</label>
                <input type="text" class="form-control" id="request-term-box" name="topic-box" placeholder="e.g. loops..." required>
              </div>
              <div class="form-group">
                <label for="topic-box" class="col-form-label">Language</label>
                <input type="text" class="form-control" id="request-language-box" name="snippet-name" placeholder="e.g. Python" required>
              </div>
              <button type="submit" class="btn btn-primary">Request!</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
      // for the quill editor
      var topicQuill = new Quill('#topic-content-box', {theme: 'snow'});

      // let urlForCreate = 'http://127.0.0.1:5000/api/create_snippet';
      let urlForCreate = "https://snippet-stack.herokuapp.com/api/create_snippet";

      async function postData(data) {
          const response = await fetch(urlForCreate,
                                      {method: 'POST', body: JSON.stringify(data)});
          res = await response.json();
      }

      document.getElementById("submit-button").addEventListener('click', function() {
          let data = {};
          let topicBox = document.getElementById("topic-box");
          let languageBox = document.getElementById("language-box");
          let codeBox = document.getElementById("topic-content-box");
          let privateBox = document.getElementById("private-check-box");

          data['name'] = topicBox.value;
          data['language'] = languageBox.value;
          data['code'] = codeBox.innerText;
          data['private'] = privateBox.checked;
          console.log(data);
          postData(data);
          alert("Snippet created!");

          // document.getElementById("topic-form").reset();
          topicBox.innerText = "";
          languageBox.innerText = "";
          codeBox.innerText = "";
          topicBox.checked = false;
      });
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="static/searchController.js"></script>
    <script>
      function changeLink(){
        var linkHome = document.getElementById("linkToHome");
        linkHome.textContent = "Return Home";
      }
    </script>
</body>
</html>
