<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/tomorrow-night.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/theme/dracula.min.css">
    <title>Search</title>
</head>
  
<body style="background-color: #a8a7a7;">
    <!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 2;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userProfileMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="userProfileMenuButton">
              <a class="dropdown-item" href="{{ url_for('notyetimplementedPage') }}">Profile</a>
              <a class="dropdown-item" href="{{ url_for('notyetimplementedPage') }}">Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('login') }}" style="color: red;">Logout</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('search') }}">Search<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('notyetimplementedPage') }}">Featured</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('notyetimplementedPage') }}">My Snippets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>
      </div>
      <div class="flex-nav">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#startTopicModal">
          Start Topic!
        </button>
      </div>
    </nav>

    <!-- pop up form for creating new snippet -->
    <div class="modal fade" tabindex="-1" id="startTopicModal" role="dialog" aria-labelledby="#createTopic" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createTopic">Create A Snippet!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- the start new topic form -->
          <div class="modal-body">
            <form id="topic-form" role="form" enctype=multipart/form-data>
              <!-- language and topic -->
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="topic-box" class="col-form-label">Snippet</label>
                      <input type="text" class="form-control" id="topic-box" name="name" placeholder="e.g. Iterative DFS" required>
                    </div>
                  </div>
                  <div class="col">
                    <label for="language-box" class="col-form-label">Language</label>
                    <select class="form-select form-control" id="language-box" name="language">
                      <option value="python" selected>Python</option>
                      <option value="c">C</option>
                      <option value="c++">C++</option>
                      <option value="c#">C#</option>
                      <option value="objective-c">Objective-C</option>
                      <option value="java">Java</option>
                      <option value="kotlin">Kotlin</option>
                      <option value="ceylon">Ceylon</option>
                      <option value="scala">Scala</option>
                      <option value="css">CSS</option>
                      <option value="html">HTML</option>
                      <option value="javascript">JavaScript</option>
                      <option value="jsx">JSX</option>
                      <option value="sql">SQL</option>
                      <option value="shell">Shell</option>
                      <option value="xml">XML</option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- privacy -->
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" value="" id="create-private-check-box" name="private">
                <label class="form-check-label" for="create-private-check-box">
                  Make snippet private
                </label>
              </div>

              <!-- contents (code) -->
              <div class="form-group">
                <label for="topic-content-box" class="col-form-label">Contents</label>
                <!-- <div id="topic-content-box" style="height: 200px;"></div> -->
                <!-- <textarea id="topic-content-box"></textarea> -->
                <div id="topic-content-box"></div>
              </div>
              <button type="submit" class="btn btn-primary">Post!</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- pop up form for replying -->
    <div class="modal fade" tabindex="-1" id="replyModal" role="dialog" aria-labelledby="#reply" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="reply">Your reply:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <!-- the start new topic form -->
          <div class="modal-body">
              <!-- reply box -->
              <form role="form" id="reply-form" enctype=multipart/form-data novalidate>
              <div class="form-group">
                  <div id="replyEditor" style="height: 250px;">
                  </div>
              </div>
              <button type="submit" class="btn btn-primary">Post!</button>
              </form>
          </div>
          </div>
      </div>
    </div>
  
    <!-- pop up form for editing reply -->
    <div class="modal fade" tabindex="-1" id="editReplyModal" role="dialog" aria-labelledby="#editReply" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="editReply">Your reply:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <!-- the start new topic form -->
          <div class="modal-body">
              <!-- reply box -->
              <form role="form" id="edit-reply-form" enctype=multipart/form-data>
                <div class="form-group">
                    <div id="editReplyEditor" style="height: 250px;">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Post!</button>
              </form>
          </div>
          </div>
      </div>
    </div>

    <!-- pop up form for editing snippet -->
    <div class="modal fade" tabindex="-1" id="editModal" role="dialog" aria-labelledby="#edit" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="edit">My Snippet:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <!-- the start new topic form -->
          <div class="modal-body">
              <!-- reply box -->
              <form id="submitUpdatedSnippet" role="form" enctype=multipart/form-data novalidate>
                <div class="form-group">
                  <div id="editEditor"></div>
                </div>
                <button type="submit" class="btn btn-primary">Post!</button>
              </form>
          </div>
          </div>
      </div>
    </div>

    <div id="container">
      <div id="search-window" class="search-window">
          <h1 style="text-align: center;">Search Snippets</h1>
          <form id="searchForm" role="form" enctype=multipart/form-data novalidate>
              <div class="form-group">
                  <label for="search_term" class="col-form-label">Search Term</label>
                  <input id="search_term" class="form-control" type="text" name="search_key" placeholder="e.g. Python while loop" >
              </div>
              <div class="form-group">
                  <label for="language_field" class="col-form-label">Target Language</label><br>
                  <input id="language_field" class="form-control" type="text" name="language" placeholder="e.g. Python" required>
                  <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" value="" id="private-check-box" name="private" required>
                      <label class="form-check-label" for="private-check-box">
                      Search Private Snippets
                      </label>
                  </div>
              </div>
              
              <button id="submit_button" class="btn btn-primary" type="submit">Submit</button>
          </form>

          <!-- <a id="linkToHome" href="{{ url_for('home') }}">Cancel</a> -->
          <!-- <div id="search-results"></div> -->
          <!-- <button id="test_button">Test Button</button> -->
          <!-- <pre>
              <code class="python">
                  with sqlite3.connect('Snippets.db') as conn:
                  try:
                      cursor = conn.cursor()
                      cursor.execute("INSERT INTO Snippets(name, language, code) VALUES (?,?,?)", 
              </code>
          </pre> -->
      </div>
      <div id="search-window-bottom" style="position: absolute; width: 100%; margin: 0 auto; text-align: center;">
        <p>Can't find snippet? Try <a href="{{ url_for('request_snippet_page') }}">requesting</a> for one!</p>
      </div>
    </div>
    <div id="snippet-display" class="snippet-display"></div>
    <div id="active" class="discussion-window"></div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<!-- <script src="static/searchController.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/addon/display/autorefresh.min.js"></script>

<!-- supported languages -->
<!-- c, objective c, c++, c#, java, kotlin, ceylon, scala -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/clike/clike.min.js"></script>
<!-- css -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/css/css.min.js"></script>
<!-- html -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/htmlmixed/htmlmixed.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/xml/xml.min.js"></script>
<!-- javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/javascript/javascript.min.js"></script>
<!-- python -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/python/python.min.js"></script>
<!-- sql -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/sql/sql.min.js"></script>
<!-- jsx -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/jsx/jsx.min.js"></script>
<!-- shell script  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/shell/shell.min.js"></script>
<script src="{{ url_for('static', filename='Endpoints.js') }}"></script>
<script src="{{ url_for('static', filename='initializeTopicPopup.js') }}"></script>
<script src="{{ url_for('static', filename='initializeReplyPopup.js') }}"></script>
<script>
  var animationEvent = whichAnimationEvent();
  var currentSnippetEditorIndex; // keeps track of the current snippet being edited
  var currentSnippetElement;
  var currentReplyElement;
  var currentUser;
  var viewingComments = false;
  var snippets = [];

  // the editor for editing snippets
  var snippetEditor = new CodeMirror(document.getElementById("editEditor"), {
    lineNumbers: true,
    autoRefresh: true,
    theme: 'dracula'
  });
  snippetEditor.refresh();

  // returns animation event
  function whichAnimationEvent(){
    var t,
        el = document.createElement("fakeelement");

    var animations = {
      "animation"      : "animationend",
      "OAnimation"     : "oAnimationEnd",
      "MozAnimation"   : "animationend",
      "WebkitAnimation": "webkitAnimationEnd"
    }

    for (t in animations){
      if (el.style[t] !== undefined){
        return animations[t];
      }
    }
  }

  // highlight the code blocks in the node
  function highlightCodeBlocks(node) {
    // highlight code blocks
    var replies = node.getElementsByTagName("pre");

    Array.from(replies).forEach((block) => {
      hljs.highlightBlock(block);
    });
    
  }

  // helper
  function getLanguageFromString(lang) {
    // var re = lang.match('([^:]+):.*')[1].trim();
    switch (lang) {
      case 'c':
      case 'c++': 
      case 'c#':
      case 'objective-c': 
      case 'java': 
      case 'kotlin': 
      case 'ceylon':
      case 'scala': 
        return 'clike';
        break;

      case 'html': 
        return 'htmlmixed';
        break;

      case 'python':
        return 'python';
        break;
        
      default:
        return lang;
    }
  }


  // creates a new editor
  function appendSnippetEditor(block, lang, code) {
    let editor = new CodeMirror(block, {
      mode: lang,
      lineNumbers: true,
      readOnly: "nocursor",
      theme: 'dracula'
    });
    editor.setValue(code);
    editor.refresh();
    snippets.push(editor);
  }

  // create replies container
  function makeCommentContainer(id, comment, owner, user) {
    var post = document.createElement('div');
    post.id = id;
    post.className = "post-section";
    var header = document.createElement('div');
    header.className = "flex-reply-header";
    var container = document.createElement('div');
    container.innerHTML = `<i class="fa fa-user" aria-hidden="true" style="margin-right: 5px;"></i>${owner}`;
    header.appendChild(container);
    post.appendChild(header);

    var body = document.createElement('div');
    body.id = `${id}_raw`;
    body.innerHTML = comment;
    post.appendChild(body);

    var footer = document.createElement('div');
    footer.className = "flex-reply-footer";
    if (owner == user) {
      var editButton = document.createElement('button');
      editButton.type = 'button';
      editButton.className = "btn btn-link";
      editButton.dataset.toggle = "modal";
      editButton.dataset.target = "#editReplyModal";
      editButton.addEventListener('click', function() {
        console.log(body.innerHTML);
        editReplyQuill.root.innerHTML = body.innerHTML;
        currentReplyElement = post;
      });
      editButton.innerHTML = `<i class="fa fa-pencil" aria-hidden="true"></i>Edit`;
      footer.appendChild(editButton);
    }

    // var likesButton = document.createElement('button');
    // likesButton.type = 'button';
    // likesButton.className = "btn btn-link";
    // likesButton.addEventListener('click', async function() {
    //   this.disabled = true;

    //   var x = parseInt(likes, 10) + 1;
    //   data = {};
    //   data['likes'] = x;

    //   event.preventDefault(); // dont refresh: front end will dynamically change value
    //   // make a call to the backend to update database
    //   let res = await fetch(urlForLikes, {method: 'POST', body: JSON.stringify(data)});
    //   if (res.status != 400) {
    //     // increment likes
    //     this.nodeValue = x;
    //   }
    // });
    // likesButton.innerHTML = `${likes}<i class="fa fa-thumbs-up" aria-hidden="true" style="margin: 5px;"></i>`;
    
    // footer.appendChild(likesButton);
    post.appendChild(footer);

    document.getElementById('active').appendChild(post);
  }

  // create a snippet container
  function makeSnippetContainer(id, lang, name, owner, likes, user, i) {
    var s = document.createElement('div');
    s.className = "flex-snippet";
    s.id = id;

    // header
    var header = document.createElement('div');
    header.className = "snippet-header";
    var title = document.createElement('div');
    title.className = "snippet-title";
    var t = document.createTextNode(`${lang}: ${name}: by ${owner}`);
    title.appendChild(t);
    header.appendChild(title);

    s.appendChild(header);

    if (owner == user) {
      let trashButton = document.createElement('button');
      trashButton.type = "button";
      trashButton.className = "btn btn-link view-replies-btn";
      trashButton.style.color = "red";
      // delete button
      header.appendChild(trashButton);

      trashButton.addEventListener('click',   async function() {
        if (confirm("Are you sure you want to delete this snippet?")) {

          // delete the code display for that snippet
          snippets.splice(i, 1);

          s.classList.add('deletedSnippetAnimation');
          $(this).parent().parent().one(animationEvent, async function() {
            $(this).remove();
            
            if (snippets.length == 0) {
              $('#snippet-display').html("<h1 style=\"width: 100%; text-align: center;\">No more snippets!</h1>");
            }

            var data = {};
            data['idToDel'] = id;
            // make a call to the backend to update database
            const response = await fetch(urlForDelete,
                                      {method: 'POST', body: JSON.stringify(data)});

            if (viewingComments) {
              var node = document.getElementById('active');
              while (node.firstChild) {
                node.removeChild(node.lastChild);
              }
            }
          });
        }
      });
      trashButton.innerHTML = "<i class=\"fa fa-trash\" aria-hidden=\"true\"></i>";
    }

    // body
    var body = document.createElement('div');
    body.className = "snippet-body";
    body.id = `${id}_raw`;

    s.appendChild(body);

    // footer
    var footer = document.createElement('div');
    footer.className = "snippet-footer";
    var container = document.createElement('div');
    var viewCommentsButton = document.createElement('button');
    viewCommentsButton.type = "button";
    viewCommentsButton.className = "btn btn-link view-replies-btn";
    viewCommentsButton.addEventListener('click', async function() {

        viewingComments = true;
        var data = {};
        data['snippet_id'] = id;

        // make a get call to the backend
        let response = await fetch(urlForGettingComments, {method: 'POST', body: JSON.stringify(data)});
        let res = await response.json();

        // remove all children except this
        $("#snippet-display").children(`:not(#${id})`).remove();

        for (r of res) {
          makeCommentContainer(r[0], r[2], r[1], user);
        }
        // redirect to active.html
        // let endpoint = "{{ url_for('activePage') }}"
        // window.location.replace(baseURL + endpoint);
        highlightCodeBlocks(document.getElementById("active"));
        $(this).remove();

      });

    viewCommentsButton.appendChild(document.createTextNode("View Replies"));
    container.appendChild(viewCommentsButton);
    var commentButton = document.createElement('button');
    commentButton.type = "button";
    commentButton.className = "btn btn-link";
    commentButton.dataset.toggle = "modal";
    commentButton.dataset.target = "#replyModal";
    commentButton.addEventListener('click', function() {
      currentSnippetElement = s;
    });
    commentButton.appendChild(document.createTextNode("Comment"));

    container.appendChild(commentButton);


    if (user == owner) {
      let editButton = document.createElement('button');
      editButton.type = 'button';
      editButton.className = "btn btn-link";
      editButton.dataset.toggle = "modal";
      editButton.dataset.target = "#editModal";
      editButton.addEventListener('click',   function() {
          snippetEditor.setOption("mode", getLanguageFromString(lang));
          console.log(getLanguageFromString(lang));

          // copy value into snippet text editor
          snippetEditor.setValue(snippets[i].getValue());
          // save the index for form submission
          currentSnippetEditorIndex = i;
          currentSnippetElement = s;
      });
      editButton.innerHTML = `<i class="fa fa-pencil" aria-hidden="true"></i>Edit`;
      container.appendChild(editButton);
    }

    footer.appendChild(container);
    var likesButton = document.createElement('button');
    likesButton.type = "button";
    likesButton.className = "btn btn-link";
    likesButton.addEventListener('click', async function(event) {
      event.preventDefault(); // dont refresh: front end will dynamically change value

      this.disabled = true;

      console.log(this.firstChild);
      console.log(this.firstChild.nodeValue);
      var likes = parseInt(this.firstChild.nodeValue, 10) + 1;
      var data = {};
      data['snippet_id'] = id;

      // make a call to the backend to update database
      let res = await fetch(urlForLikes, {method: 'POST', body: JSON.stringify(data)});
      if (res.status != 400) {
        // increment likes
        this.firstChild.nodeValue = likes;
      }
    });
    likesButton.innerHTML = `${likes}<i class="fa fa-thumbs-up" aria-hidden="true" style="margin: 5px;"></i>`
    footer.appendChild(likesButton);
    
    s.appendChild(footer);

    return [s, body];
  }

  // search form
  document.getElementById("searchForm").addEventListener('submit', async function(event) {
    event.preventDefault();
    let data = {};
    data['language'] = document.getElementById("language_field").value;
    data['search_key'] = document.getElementById("search_term").value;
    data['private'] = document.getElementById("private-check-box").checked;
    // const response = await fetch("http://127.0.0.1:5000/api/fetch_snippet", {method: 'GET', body: JSON.stringify(data)});
    
    const response = await fetch(urlForSearch,
                                {method: 'POST', body: JSON.stringify(data)});
    let res = await response.json();

    console.log(res['user']);
    currentUser = res['user'];

    //id, name, language, code, author, private, likes
    document.getElementById("container").className = "goup";
    $('#container').one(animationEvent, function(event) {
        $(this).remove();
        for(i=0;i < res['data'].length;i++) {
          let [container, block] = makeSnippetContainer(res['data'][i][0], res['data'][i][2], res['data'][i][1], res['data'][i][4], res['data'][i][6], res['user'], i);
          document.getElementById("snippet-display").appendChild(container);
          appendSnippetEditor(block, res['data'][i][2], res['data'][i][3]);
      }
    });
  });
  
  // posting a comment
  document.getElementById("reply-form").addEventListener('submit', async function (event) {
      event.preventDefault();
      // get form values
      data = {};
      var comment = replyQuill.root.innerHTML;
      if (!comment) {
          alert("Comment is empty! Cannot submit empty comment!");
          return false;
      }
      data['comment_text'] = comment;
      data['snippet_id'] = currentSnippetElement.id;
      var user = currentSnippetElement.getElementsByClassName("snippet-title")[0].innerHTML;
      data['username'] = getUserFromString(user);

      // make a call to the backend to update database
      let response = await fetch(urlForComments, {method: 'POST', body: JSON.stringify(data)});
      // console.log(replyQuill.root.innerHTML);
      let res = await response.json();
      console.log(res);
      // display the comment to the screen
      if (viewingComments) {
        makeCommentContainer(res[0], comment, currentUser, currentUser);
      }

      $('#replyModal').modal('hide');
      this.reset();
      replyQuill.root.innerHTML = "";
  });

  // submit edited reply handler
  document.getElementById("edit-reply-form").addEventListener('submit', async function(event) {
    event.preventDefault();

    var update = editReplyQuill.root.innerHTML;

    currentReplyElement.children[1].innerHTML = update;
    if (!update) {
          alert("Comment is empty! Cannot submit empty comment!");
          return false;
    }

    var data = {};
    data['comment_id'] = currentReplyElement.id;
    data['edited_comment'] = update;
    let res = await fetch(urlForEditComment, {method: 'POST', body: JSON.stringify(data)});

    $('#editReplyModal').modal('hide');
    this.reset();
    editReplyQuill.root.innerHTML = "";

    // highlight code in pre blocks
    highlightCodeBlocks(currentReplyElement);
  });

  // submit updated snippet
  document.getElementById("submitUpdatedSnippet").addEventListener('submit', async function(event) {
        event.preventDefault();

        // get the code from the editor
        // copy the code into the current snippet
        var data = {};
        var contents = snippetEditor.getValue();
        console.log(typeof(contents));
        console.log(contents);
        if (!contents) {
          alert("Snippet is empty! Cannot submit empty snippet!");
          return false;
        }

        data['edited_code'] = contents;
        data['snippet_id'] = currentSnippetElement.id;

        // make a call to the backend to update database
        let res = await fetch(urlForEditSnippet, {method: 'POST', body: JSON.stringify(data)});

        snippets[currentSnippetEditorIndex].setValue(contents);
        $('#editModal').modal('hide');
    });

</script>
</html>
