<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/tomorrow-night.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/theme/dracula.min.css">
    <title>Snippet Display</title>
</head>

<body style="background-color: #a8a7a7;">
    <!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userProfileMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="userProfileMenuButton">
              <a class="dropdown-item" href="{{ url_for('notyetimplementedPage') }}">Profile</a>
              <a class="dropdown-item" href="{{ url_for('notyetimplementedPage') }}">Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('login') }}" style="color: red;">Logout</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('search') }}">Search<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('notyetimplementedPage') }}">Featured</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('notyetimplementedPage') }}">My Snippets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>
      </div>
      <div class="flex-nav">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#startTopicModal">
          Start Topic!
        </button>
      </div>
    </nav>

    <!-- pop up form for creating new snippet -->
    <div class="modal fade" tabindex="-1" id="startTopicModal" role="dialog" aria-labelledby="#createTopic" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createTopic">Create A Snippet!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- the start new topic form -->
          <div class="modal-body">
            <form id="topic-form" role="form" enctype=multipart/form-data>
              <!-- language and topic -->
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="topic-box" class="col-form-label">Snippet</label>
                      <input type="text" class="form-control" id="topic-box" name="name" placeholder="e.g. Iterative DFS" required>
                    </div>
                  </div>
                  <div class="col">
                    <label for="language-box" class="col-form-label">Language</label>
                    <select class="form-select form-control" id="language-box" name="language">
                      <option value="python" selected>Python</option>
                      <option value="c">C</option>
                      <option value="c++">C++</option>
                      <option value="c#">C#</option>
                      <option value="objective-c">Objective-C</option>
                      <option value="java">Java</option>
                      <option value="kotlin">Kotlin</option>
                      <option value="ceylon">Ceylon</option>
                      <option value="scala">Scala</option>
                      <option value="css">CSS</option>
                      <option value="html">HTML</option>
                      <option value="javascript">JavaScript</option>
                      <option value="jsx">JSX</option>
                      <option value="sql">SQL</option>
                      <option value="shell">Shell</option>
                      <option value="xml">XML</option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- privacy -->
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" value="" id="create-private-check-box" name="private">
                <label class="form-check-label" for="create-private-check-box">
                  Make snippet private
                </label>
              </div>

              <!-- contents (code) -->
              <div class="form-group">
                <label for="topic-content-box" class="col-form-label">Contents</label>
                <!-- <div id="topic-content-box" style="height: 200px;"></div> -->
                <!-- <textarea id="topic-content-box"></textarea> -->
                <div id="topic-content-box"></div>
              </div>
              <button type="submit" class="btn btn-primary">Post!</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- pop up form for replying -->
    <div class="modal fade" tabindex="-1" id="replyModal" role="dialog" aria-labelledby="#reply" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reply">Your reply:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- the start new topic form -->
            <div class="modal-body">
                <!-- reply box -->
                <form role="form" id="reply-form" enctype=multipart/form-data novalidate>
                <div class="form-group">
                    <div id="replyEditor" style="height: 250px;">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Post!</button>
                </form>
            </div>
            </div>
        </div>
    </div>

    <!-- pop up form for editing snippet -->
    <div class="modal fade" tabindex="-1" id="editModal" role="dialog" aria-labelledby="#edit" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="edit">My Snippet:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <!-- the start new topic form -->
          <div class="modal-body">
              <!-- reply box -->
              <form id="submitUpdatedSnippet" role="form" enctype=multipart/form-data novalidate>
                <div class="form-group">
                  <div id="editEditor"></div>
                </div>
                <button type="submit" class="btn btn-primary">Post!</button>
              </form>
          </div>
          </div>
      </div>
    </div>

    <!-- snippets are displayed here -->
    <div id="snippet-display" class="snippet-display">
        {% if snippets | length == 0 %}
        <h1 style="width: 100%; text-align: center;">Sorry, we could not find any snippets!</h1>
        {% else %}
        {% for s in snippets %}
        <div id="{{ s.id }}" class="flex-snippet">
          <!-- header: user info, delete option(if snippet belongs to you) -->
          <div class="snippet-header">
              <div class="snippet-title">
                  {{ s.language }}: {{ s.name }}: by {{ s.user }}
              </div>
              {% if s.belongsToUser() %}
              <button type="button" class="btn btn-link view-replies-btn" style="color: red;" onclick="deleteSnippet()">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
              {% endif %}
          </div>
          <!-- source code of snippet -->
          <div id="{{ s.id }}_raw" class="snippet-body">
          </div>
          <!-- footer: comment (or edit), view replies options -->
          <div class="snippet-footer">
              <div>
                  <button type="button" class="btn btn-link view-replies-btn" onclick="getReplies()">
                      View Comments
                  </button>
                  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#replyModal" onclick="addReply()">
                      Comment
                  </button>
                  {% if s.belongsToUser() %}
                  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#editModal" onclick="editSnippet()">
                    <i class="fa fa-pencil" aria-hidden="true"></i>Edit
                  </button>
                  {% endif %}
              </div>
              <button type="button" class="btn btn-link" onclick="addLike()">
                {{ s.likes }}<i class="fa fa-thumbs-up" aria-hidden="true" style="margin: 5px;"></i>
              </button> 
          </div>
        </div>
        {% endfor %}
        {% endif %}

        <!-- backend will display replies in here -->
        <!-- <div id="snippetComments"></div> -->
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/addon/display/autorefresh.min.js"></script>
<!-- supported languages -->
<!-- c, objective c, c++, c#, java, kotlin, ceylon, scala -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/clike/clike.min.js"></script>
<!-- css -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/css/css.min.js"></script>
<!-- html -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/htmlmixed/htmlmixed.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/xml/xml.min.js"></script>
<!-- javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/javascript/javascript.min.js"></script>
<!-- python -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/python/python.min.js"></script>
<!-- sql -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/sql/sql.min.js"></script>
<!-- jsx -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/jsx/jsx.min.js"></script>
<!-- shell script  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/shell/shell.min.js"></script>
<script src="{{ url_for('static', filename='Endpoints.js') }}"></script>
<script src="{{ url_for('static', filename='initializeTopicPopup.js') }}"></script>
<script src="{{ url_for('static', filename='initializeReplyPopup.js') }}"></script>
<script>
  var currentSnippetIndex; // keeps track of the current snippet being edited
  var snippetDisplay;
  var snippets = [];
  var allCode = document.getElementById("snippet-display").getElementsByClassName("snippet-body");

  // initialize snippet display
  Array.from(allCode).forEach((block) => {
    snippetDisplay = new CodeMirror(block, {
      mode: "javascript",
      lineNumbers: true,
      readOnly: "nocursor",
      theme: 'dracula'
    });
    snippets.push(snippetDisplay);
  });

  // configure the displaays
  {% for i in range(snippets | length) %}
  snippetDisplay.setValue({{ snippets[i].code | tojson | safe }});
  snippetDisplay.setOption('mode', {{ snippets[i].language | tojson | safe }});
  {% endfor %}

  for (s of snippets) {
    s.refresh();
  }

  // the editor for editing snippets
  var snippetEditor = new CodeMirror(document.getElementById("editEditor"), {
    lineNumbers: true,
    autoRefresh: true,
    theme: 'dracula'
  });
  snippetEditor.refresh();

  // returns the defined mime type for code editor
  function getLanguageFromSnippetTitle(lang) {
    var re = lang.match('([^-]+):.*')[1].trim();
    switch (re) {
      case 'c':
      case 'c++': 
      case 'c#':
      case 'objective-c': 
      case 'java': 
      case 'kotlin': 
      case 'ceylon':
      case 'scala': 
        return 'clike';
        break;

      case 'html': 
        return 'htmlmixed';
        break;

      default:
        return re;
    }
  }

  // deletes a snippet
  async function deleteSnippet() {
    if (confirm("Are you sure you want to delete this snippet?")) {
      var el = event.currentTarget.parentNode.parentNode;
      var i = Array.from(document.getElementById("snippet-display").getElementsByClassName("flex-snippet")).indexOf(el);

      // delete the code display for that snippet
      snippets.splice(i, 1);
      if (snippets.length == 0) {
        el.parentNode.innerHTML = "<h1 style=\"width: 100%; text-align: center;\">No more snippets!</h1>";
      }
      el.parentNode.removeChild(el);
      // make a call to the backend to update database
      const response = await fetch(urlForDelete,
                                {method: 'POST', body: JSON.stringify(data)});
    }
  }

  // copies the code inside the display to the editor
  function editSnippet() {
      var snippetEl = event.currentTarget.parentNode.parentNode.previousElementSibling;
      // make a call to the backend to find out language of snippet

      var language = event.currentTarget.parentNode.parentNode.parentNode.getElementsByClassName("snippet-title")[0].innerHTML; // for testing
      language = getLanguageFromSnippetTitle(language);
      snippetEditor.setOption("mode", language);

      // get the index of the snippet
      var i = Array.from(document.getElementById("snippet-display").getElementsByClassName("snippet-body")).indexOf(snippetEl);

      // copy value into snippet text editor
      snippetEditor.setValue(snippets[i].getValue());
      // save the index for form submission
      currentSnippetIndex = i;
  }

  // increment the likes count of the snippet
  async function addLike() {
    event.currentTarget.disabled = true;
    var snippetEl = event.currentTarget.parentNode.parentNode;
    var i = Array.from(document.getElementById("snippet-display").children).indexOf(snippetEl);

    var likesEl = event.currentTarget.firstChild;
    var likes = parseInt(likesEl.nodeValue, 10) + 1;

    event.preventDefault(); // dont refresh: front end will dynamically change value
    // make a call to the backend to update database
    let res = await fetch(urlForLikes, {method: 'POST', body: JSON.stringify(snippetEl.id)});
    if (res.status != 400) {
      // increment likes
      likesEl.nodeValue = likes;
    }
  }

  // calls backend for replies of snippet
  // if no replies exist then alert the user (flash)
  async function getReplies() {
    var id = event.target.parentNode.parentNode.parentNode.id;

    // make a get call to the backend
    let res = await fetch(urlForGettingComments, {method: 'POST', body: JSON.stringify(id)});

    // redirect to active.html
    let endpoint = "{{ url_for('activePage') }}"
    window.location.replace(baseURL + endpoint);
  }

  // event handler for updating a snippet
  document.getElementById("submitUpdatedSnippet").addEventListener('submit', async function(event) {
      event.preventDefault();

      // get the code from the editor
      // copy the code into the current snippet
      var contents = snippetEditor.getValue();
      if (!contents) {
        alert("Snippet is empty! Cannot submit empty snippet!");
        return false;
      }

      // make a call to the backend to update database
      let res = await fetch(urlForEditSnippet, {method: 'POST', body: JSON.stringify(contents)});

      snippets[currentSnippetIndex].setValue(contents);
      $('#editModal').modal('hide');
  });

</script>
</html>