.search-bar {
    position: fixed;
    top: 75%;
    width: 50%;
    z-index: 1;
}
.chat-window {
    width: 50%;
    margin: 0 auto;
}
.discussion-window {
    width: 75%;
    margin: 0 auto;
}
.chat-bubble-left {
    top: 20px;
    position: relative;
    background: #00aabb;
    border-radius: .4em;
    margin-bottom: 30px;
    margin-left: 10px;
    width: 60%;
    /* animation: bubbleLeft 5s ease;
    -webkit-animation: bubbleLeft 5s ease; */
}
.chat-bubble-left:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border: 20px solid transparent;
    border-top-color: #00aabb;
    border-bottom: 0;
    border-left: 0;
    margin-left: 10px;
    margin-bottom: -20px;
}
.chat-bubble-right {
    top: 20px;
    position: relative;
    background: #5efc03;
    border-radius: .4em;
    margin-bottom: 30px;
    margin-right: 10px;
    width: 60%;
    left: 39%;
}
.chat-bubble-right:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border: 20px solid transparent;
    border-top-color: #5efc03;
    border-bottom: 0;
    border-left: 0;
    margin-right: 10px;
    margin-bottom: -20px;
    transform: scaleX(-1);
}
.chat-bubble-contents {
    line-height: 1.5em;
    text-align: left;
    padding: 10px;
}
.topic-box {
    border-bottom: solid #00aabb;
    margin-bottom: 20px;
    margin-top: 20px;
}
.main-post-section {
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: .4em;
    border-left-style: solid;
    border-left-color: #00aabb;
    background-color: whitesmoke;
    padding: 10px;
}
.post-section {
    border-radius: .4em;
    /* border-top: solid #f7ec11; */
    background-color: whitesmoke;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}
.reply-section {
    position: fixed;
    width: 100%;
    height: 50%;
    bottom: 0;
}
.view-replies-btn {
    left: 0;
    bottom: 0;
}
.reply-btn {
    right: 0;
    bottom: 0;
}
.flex-reply-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.flex-reply-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.flex-reply-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* @keyframes bubbleLeft {
    from {bottom: 0;}
    to {top: 20px;}
}
@-webkit-keyframes bubbleLeft {
    from {bottom: 0;}
    to {top: 20px;}
} */